# Data manipulation and analysis
pandas
numpy
# Data visualization
matplotlib
seaborn

# Machine learning
scikit-learn

xgboost==1.7.5
lightgbm==3.3.2
statsmodels==0.13.5
# Handling imbalanced datasets
imbalanced-learn==0.9.1
# Model explainability
shap==0.41.0
# For working with Jupyter notebooks
notebook==6.5.3
# Additional libraries
requests # For API calls, if necessary
# Streamlit for web app development
scikit-learn
imbalanced-learn
shap
matplo
seaborn>
streamlit
pytest